/* --------------------------------#0 全局的 -----------------------*/
.container{
    width: 1226px;
    height: 100%;
    margin:0 auto;
    /*background-color: green;*/
    background-color: transparent;
    position: relative;
}

.clear_fix:after{
    content:'.';
    clear:both;
    display: block;
    height:0;
    visibility: hidden;
}

body{
    min-width: 1226px;
}

/* -----------------------------------局部的-------------------------*/
/* --------------------------------#1.0    topbar-------------------------*/
.topBar{
    background-color: #2b2b2b;
    width: 100%;
    height: 40px;
    font: 12px/40px "微软雅黑","Times New Roman";
    color: white;
    text-align:center;
}
.topBar a{
    color: #9a9a9a;
    text-decoration: none;
}
.topBar a:hover{
    font-weight: bold;
    color: white;
}
.top_nav{
    /*background-color: red;*/
    background-color: transparent;
    width: 677px;
    height: 100%;
    float:left;
}
.top_nav ul li{
    float: left;
    padding: 0 5px;
    height: 40px;
 }
.top_cart{
    /*background-color: red;*/
    background-color: transparent;
    width: 120px;
    height: 100%;
    float:right;
}
.user_info{
    /*background-color: red;*/
    background-color: transparent;
    width: 143px;
    height: 100%;
    float:right;
}
.user_info ul li{
    float: right;
    padding: 0 5px;
    height: 40px;
}
/* --------------------------------#2.0  导航栏-------------------------*/
.header{
    /*background-color: #fffd55;*/
    background-color: white;
    width: 100%;
    height: 100px;
    font: 12px/100px "微软雅黑","Times New Roman";
    color: #2b2b2b;
    text-align:center;
}
.header_logo{
    background-color: #f1a624;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 55px;
    height:55px;
    margin: auto 0;
    line-height: 55px;
    border: 1px solid transparent;
}
.header_logo a{
    display: block;
    width:  90%;
    height: 90%;
    position: absolute;
    left: -2px; top: 0; right: 0; bottom: 0;
    margin: auto;
    background: url('../images/mi-logo.png') no-repeat;
}
.header_nav{
    float:left;
    height: 100%;
    width: 850px;
}
.header_nav ul li{
    float: left;
    padding: 0 5px;
    height: 100%;
    text-align: center;
}
.header_nav ul a{
    color: #2b2b2b;
    text-decoration: none;
    font-size: 16px;
}
.header_nav ul a:hover{
    color: #f1a624;
    text-decoration: none;
}
.header_nav ul{
    display: block;
    float:left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 60px;
}
.header_nav ul .advertisement{
    float:left;
    width: 165px;
    height: 100%;
    background: url(../images/pigyear.jpg) no-repeat;
    background-position:center center;
}
.header_nav ul .advertisement a{
    display: inline-block;
    width: 165px;
    height: 100%;
    background-color: transparent;
}

.header_search{
    float:right;
    width: 316px;
    height: 100%;
    position: relative;
}
.header_search .header_search_form{
    position: absolute;
    top:0;bottom:0;right:0;
    margin: auto;
    height:42px;
}
.header_search ul{
    position: absolute;
    right:60px;
    z-index: 10;
}

.header_search ul li{
    float:right;
    margin: 0 2px;
}

.header_search ul li span{
    background-color: #dcdcdc;
}
.header_search ul li span:hover{
    background-color: #f1a624;
    font-weight: bold;
    color:white;
    cursor: pointer;
}
.header_search .header_search_form input[type='text']{
    width: 250px;
    height: 40px;
    float:left;
    border:1px solid black;
}
.header_search .header_search_form .submit{
    width: 42px;
    height: 42px;
    float: left;
    border:1px solid black;
    cursor: pointer;
    font: 20px/40px "微软雅黑","Times New Roman";
}
.header_search .header_search_form .submit:hover{
    border:none;
    background-color: #f1a624;
    color:white;
}

/* --------------------------------#3.0  大home-------------------------*/
.homeBig,.homeBig a{
    /*background-color: #fffd55;*/
    background-color: white;
    width: 100%;
    height: 460px;
    font: 14px/42px "微软雅黑","Times New Roman";
    color: white;
    text-align:center;
}
.homeBig .cate_list_shower{
    background-color: purple;
    width: 100%;
    height: 100%;
}

.homeBig .cate_list{
    float:left;
    /*background-color: #27807f;*/
    background-color: #00003d;
    width: 250px;
    height: 420px;
    padding: 20px 0;
}
.homeBig .cate_list_ul{
    float:left;
    /*background-color: green;*/
    background-color: #00003d;
    width: 250px;
    height: 100%;

}

.homeBig .cate_list_ul li a{
    display: block;
    background-color: #00003d;
    margin-left: 40px;
    text-decoration: none;
    width: 70%;
    height: 42px;
    text-align: left;
}
/*.homeBig .cate_list_ul li:hover{*/
    /*background-color: white;*/
    /*width: 100%;*/
    /*height: 42px;*/
    /*color: #00003d;*/
    /*cursor: pointer;*/
/*}*/
.homeBig .cate_list_ul li a:hover{
    background-color: white;
    color: #00003d;
    z-index: 2;
}
.homeBig .cate_show{
    float:left;
    background-color: #00003d;
    width: 976px;
    height: 100%;
    color: #ffffff;
}

.homeBig .home_show{
    position: absolute;
    top:0;right:0;
    background-color: orange;
    width: 976px;
    height: 100%;
    color: #ffffff;
    z-index: 0;
    overflow: hidden;
}

.homeBig .home_show_a{
    position: absolute;
    top:0;right:0;
    background: url("../images/xiaomi8.jpg") no-repeat;
    background-size: cover;
    background-position: -200px center;
    width: 976px;
    height: 100%;
    color: #ffffff;
}

/* --------------------------------#3.1  小home-------------------------*/
.homeSmall,.homeSmall .homeSmall_sub a{
    /*background-color: #835b31;*/
    background-color: white;
    margin-top:10px;
    width: 100%;
    height: 170px;
    font: 12px/14px "微软雅黑","Times New Roman";
    color: #e7e7e7;
    text-align:center;
}

.homeSmall .homeSmall_sub{
    float:left;
    /*background-color: #27807f;*/
    background-color: #835b31;
    width: 250px;
    height: 100%;
}

.homeSmall .homeSmall_sub ul{
    /*background-color: #ff5425;*/
    background-color: #835b31;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeSmall .homeSmall_sub li{
    display: block;
    float: left;
    margin: 20px 5px;
    /*background-color: #3cff5c;*/
    background-color: transparent;
    width: 70px;
    height: 45px;
    overflow: hidden;
}
.homeSmall .homeSmall_sub li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    margin: 0;
    background: url('../images/mi-logo.png') no-repeat;
    background-size: cover;
    background-position: 0 -22px;
}
.homeSmall .homeSmall_sub li a:hover{
    color:white;
    font-weight: bold;
}
.homeSmall .homeSmall_sub li a span{
    display: block;
    width: 100%;
    height: 13px;
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    bottom:0;
}

.homeSmall_sub2 li{
    display: block;
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 9px;
    background-color: #00003d;
}
.homeSmall_sub2 li img{
    width: 316px;
    height: 170px;
}
.homeSmall_sub2 li a{
    display: block;
    position: absolute;
    width: 316px;
    height: 170px;
}

/* --------------------------------#4.0  闪购-------------------------*/
.shanGou{
    /*background-color: #835b31;*/
    background-color: white;
    margin-top:10px;
    width: 100%;
    /*height: 438px;*/
    font: 12px/14px "微软雅黑","Times New Roman";
    color: #1d1d1d;
    text-align:center;
}

.shangou_header{
    float:left;
    /*background-color: #27807f;*/
    /*background-color: #835b31;*/
    width: 100%;
    height: 35px;
}

.shangou_header .shangou_title{
    font: 23px/32px "微软雅黑","Times New Roman";
    text-align:left;
}
.shangou_detail{
    width: 100%;
    height: 340px;
    /*background-color: #27807f;*/
    margin-top:2px;
    overflow: hidden;
}
.shangou_detail .shangou_count_down{
    width: 249px;
    height: 340px;
    background-color: #dcdcdc;
    border-top: brown solid 2px;
    font: 23px/32px "微软雅黑","Times New Roman";
}
.shangou_detail .shangou_items{
    margin-top:1px;
    position: absolute;
    right:0;top:34px;
    width: 976px;
    height: 340px;
    /*background-color: #3bdc77;*/
}
.shangou_detail .shangou_items li{
    float: left;
    width: 234.7px;
    height: 338px;
    margin-left: 9px;
    /*background-color: #6cdc33;*/
    border-top: brown solid 2px;
    font: 23px/32px "微软雅黑","Times New Roman";
}
.shangou_detail .shangou_items li img{
    float: left;
    width: 234.7px;
    height: 338px;
}
.shangou_detail .shangou_count_down img{
    float: left;
    width: 249px;
    height: 340px;
}

/* --------------------------------#5.0  footer-------------------------*/
.footer{
    background-color: #f1a624;
    margin-top:30px;
    padding:27px 0 27px;
}

.footer ul{
    margin-left: 4px;
}

.footer ul li{
    display: block;
    float:left;
    width:243px;
    height:25px;
    background-color: transparent;
}

.footer ul li a{
    display: block;
    text-decoration: none;
    color:white;
    text-align: center;
    line-height: 25px;
}
.footer ul li a:hover{
    font-weight: bold;
}


/* --------------------------------#6.0  helper-------------------------*/
.fixedHelper{
    width: 71px;
    height: 60px;
    background-color: #f1a624;
    position: fixed;
    bottom:200px;
    left:4px;
    border-radius: 10px;
}
.fixedHelper:hover{
    background-color: grey;
}

.fixedHelper p{
    display: block;
    color:white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.fixedHelper a{
    display: block;
    text-decoration: none;
    border-radius: 20px;
    height: 35px;
    width: 70px;
    background: url('../images/icon-slides_up_down.png') no-repeat ;
}
/*.fixedHelper a:hover{*/
    /*background: url('../images/icon-slides_up_down.png') no-repeat ;*/
    /*!*-83px 0*!*/
/*}*/